<!DOCTYPE html>
<html>
  <head>
    <title>Awesomeness<%= content_for?(:title) ? " - #{yield(:title)}" : ""%></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <%= render "layouts/header" %>
    
    <%= render "layouts/nav" %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>

    <%= yield %>

    <%= render "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
